.ChatBot{
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 3rem;
    z-index: 1;
    
  }
  .ChatBot img{
    width: 25px;
  }
  .ChatBotHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4820;
    color: #FFFFFF;
    border-radius: 1rem 1rem 0 0;
  }
  .ChatBotActive{
    max-height: 600px;
    width: 400px;
  }
  
  .Close{
    margin: 1rem;
    background-color:#FF4820;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5rem;
    border-radius: 0.5rem;
    
  
  }
  .Close:hover{
    background:#042c54;
  }
  .ChatBotHeader h1{
    margin: 1rem;
    font-family: var(--font-family);
  }
  .Close img{
    width: 30px;
  }
  
  .ButtonChatBot :hover{
    background-color: #042c54;
  
  }
  .Messages{
    max-width: 500px;
    height: 400px;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    border: 1px #042c54;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.642);
    backdrop-filter: blur(10px);
  }
  
  .assistant{
    width: 100%;
    margin-top: 1rem;
  }
  .Open{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #FF4820;
    animation: wiggle 2s linear infinite;
  }
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  .user{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .user .message {
    background-color: #bbd1e7;
    color: #042c54;
    padding: 0.5rem;
  }
  .assistant .message {
    background-color: #042c54;
    color: white;
    padding: 0.5rem;
    padding-left: 1rem;
  }

  textarea{
    font-family: var(--font-family);
    border: none;
    resize: none;
    
  }
  
  .message {
    font-family: var(--font-family);
    padding: 0.25rem;
    border-radius: 1rem;
    list-style-type: none;
    max-width: 75%;
    
  }
  
  .ChatBotFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4820;
    color: #FFFFFF;
    border-radius:  0 0 1rem 1rem;
    padding: 0.5rem;
  }
  
  .ChatBotFooter input{
    height: 2rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    width: 100%;
  }
  